# ARQUITETURA LEXGRID - PORTAS ISOLADAS DE DEV
# Copie este arquivo para .env na raiz

VAULT_PORT=8820
POSTGRES_PORT=55433
POSTGRES_USER=lexadmin
POSTGRES_PASSWORD=lexpassword_secure_2026

QDRANT_PORT=56333
DRAGONFLY_PORT=56379
OLLAMA_PORT=51434